.btn {
  width: 80%;
  margin: 1rem 0;
  height: 7.1rem;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22.3174px;
  line-height: 27px;
  text-align: center;
  border: 1.11587px solid #000000;
}
