.sidebar {
  display: inline-block;
  font-size: 1.3rem;
  padding: 3rem;
  margin-right: 5rem;
  margin-top: 4rem;
  width: 40rem;
}
.heading {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
  display: inline-block;
}
