.header {
  background-image: url(../images/background-2.jpg);
  background-size: cover;
  min-height: 100vh;
  height: 90rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
  .header {
    background-image: url(../images/background-2.jpg);
    background-size: center;
  }
}
