.header {
  background-image: url(../images/background-2.jpg);
  background-size: cover;
  min-height: 100vh;
  height: 90rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
